.service{
    margin: 35px;
    height: 350px;
    width: 300px;
    font-family: impact;
    position:relative;
    float: left;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px lightgray;
    border: 3px solid whitesmoke;
}

.service img {
    height: 100%;
    width: 100%;
}

.title{
    
    background-color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 3px 3px 5px gray;
    color: whitesmoke;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}