#menu {
    background-color: #2E4053 ;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

#menu ul {
    margin-left: 100px;
}

#menu li {
    float: left;
    list-style-type: none;
    padding-left: 25px;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgb(188, 183, 183);
    text-decoration: none;
}

